/home/andrew/PHP_Progects/stihi/config.php
/home/andrew/PHP_Progects/stihi/composer.json
/home/andrew/PHP_Progects/vendor
/home/andrew/PHP_Progects/stihi/vendor/vlucas
/home/andrew/PHP_Progects/stihi/vendor/symfony
/home/andrew/PHP_Progects/stihi/vendor
/home/andrew/PHP_Progects/composer.lock
/home/andrew/PHP_Progects/phpinfo.php
/home/andrew/PHP_Progects/README.md